.about {
   @extend %of-hidden;                                                           
    &--style1 {
        .about {
            &__thumb {
                &-image {
                    @extend %p-rel;

                    >img {
                        border-radius: 24px;
                    }
                }

                &-video {
                    @extend %p-abs,
                    %p-rel;
                    transform: translate(-50%, 0%);
                    position: absolute;
                    content: "";
                    bottom: -21%;
                    left: 50%;

                    @include breakpoint(sm) {
                        transform: translate(13%, -13%);
                        position: absolute;
                        content: "";
                        bottom: 7%;
                        right: 0%;
                    }


                }

                &-plybtn {
                    @extend %p-abs,
                    %pos-center;

                    a {
                        img {
                            object-fit: cover;
                            transition: $transition;
                        }
                    }

                    &:hover {
                        a {
                            img {
                                @include add-prefix (transform, scale(1.03));
                            }

                        }
                    }
                }
            }

            &__content {
                &-inner {
                    @extend %pt-100;

                    @include breakpoint(sm) {
                        padding-top: 0;
                    }

                    @include breakpoint(lg) {
                        padding-left: 50px;
                    }

                    @include breakpoint(xl) {
                        padding-left: 100px;
                    }

                    h3 {
                        @extend %mb-20;
                    }

                    p {
                        @extend %mb-30;

                        @include breakpoint(sm) {
                            &:not(:first-child) {
                                margin-bottom: 48px
                            }
                        }


                    }

                    .about-list {
                        @extend %mb-30;

                        @include breakpoint(sm) {
                            column-count: 2;
                            margin-bottom: 48px;
                        }



                        li {
                            @extend %mb-15;

                            @include breakpoint(sm) {
                                &:nth-child(1) {
                                    margin-bottom: 40px;
                                }

                                &:nth-child(3) {
                                    margin-bottom: 40px;
                                }
                            }


                            img {
                                @extend %me-10;
                            }
                        }
                    }
                }
            }
        }


    }

    &--style2 {
        .about {
            &__content {
                .section-header {
                    @extend %mb-40;
                }

                &-item {
                    @extend %d-flex,
                    %align-i-start;
                    gap: 15px;
                }

                a {
                    @extend %mt-40;
                }
            }
        }
    }

    &--style4 {
        @extend %p-rel;

        .about {


            &__content {
                h2 {
                    color: $brand-color-4;
                    @extend %mb-20;
                }

                p {
                    @extend %mb-30;

                    @include breakpoint(sm) {
                        &:not(:first-child) {
                            margin-bottom: 48px
                        }
                    }


                }

                .about-list {
                    @extend %mb-30;

                    @include breakpoint(sm) {
                        column-count: 2;
                        margin-bottom: 48px;
                    }



                    li {
                        @extend %mb-15;

                        @include breakpoint(sm) {
                            &:nth-child(1) {
                                margin-bottom: 40px;
                            }

                            &:nth-child(3) {
                                margin-bottom: 40px;
                            }
                        }


                        img {
                            @extend %me-10;
                        }
                    }
                }
            }

            &__shape {
                &-item {
                    @extend %p-abs;
                    width: 100px;
                    top: 15%;
                    right: 8%;

                    @include animation(left-right 2s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate);

                    @include breakpoint(lg) {
                        width: 150px;
                    }

                    @include breakpoint(xl) {
                        width: auto;
                    }
                }
            }
        }
    }
}