.course {
    @extend %of-hidden;

    &--style1 {
        .course {
            &__item {
                @extend %of-hidden;
                @include add-prefix(transition, $transition);
                background-color: $white-color;
                border-radius: .5rem;

                &:hover {
                    .course__thumb {
                        img {
                            @include add-prefix (transform, scale(1.09));
                        }
                    }

                }

                //style 2
                &--style2 {
                    background-color: rgba($black-color, $alpha: .2);
                }
            }

            &__thumb {
                @extend %mb-15,
                %p-rel,
                %of-hidden;

                img {
                    @extend %w-100;
                    @include add-prefix(transition, $transition);
                }
            }

            &__content {
                padding-inline: 15px;
                padding-block-end: 20px;
                padding-block-start: 15px;

                @include breakpoint(lg) {}

                &-top {
                    @extend %d-flex,
                    %justify-between,
                    %mb-20;

                    h4 {
                        @extend %mb-15,
                        %text-clamp-2;
                        font-weight: 600;

                        &:hover {
                            a {
                                color: $brand-color-1;
                            }
                        }
                    }
                }

                h6 {
                    @extend %text-clamp-2;
                    font-weight: 600;
                }

                &-bottom {
                    @extend %flex,
                    %justify-between,
                    %align-i-center,
                    %mt-15;

                    &--border {
                        border-top: 1px solid rgba($brand-color-1, $alpha: .1);
                    }

                    .course-price {
                        @extend %flex,
                        %align-i-center;
                        gap: 5px;

                        del {
                            @include font-size(14);
                            font-weight: 400;
                        }

                        span {
                            font-size: 24px;
                            font-weight: 600;
                            color: $title-color;
                        }
                    }
                }

                .default-btn {
                    @extend %mt-10;
                }
            }

            &__meta {
                gap: 30px;

                &-tag {
                    @extend %d-inline-block;
                    @include font-size(12px);
                    padding: .15rem 1rem;
                    border-radius: 50px;
                    color: $brand-color-1;
                    font-weight: 400;
                    text-transform: capitalize;
                    // background-color: rgba($brand-color-1, $alpha: .1);

                    &--cat1 {
                        background-color: $course-color-2;
                    }

                    &--cat2 {
                        background-color: $course-color-1;
                    }

                    &--cat3 {
                        background-color: $course-color-3;
                    }
                }

                &-comment {
                    @extend %p-rel;
                    color: $text-color;

                    span {
                        @include box(16px);
                        @include font-size(12px);
                        font-weight: 500;
                        display: inline-grid;
                        place-items: center;
                        background-color: $brand-color-1 !important;
                        color: $black-color;
                    }
                }
            }

            &__view {
                @extend %flex,
                %justify-between,
                %align-i-center,
                %mb-30;
                gap: 20px;

                &-count {
                    p {
                        @extend %mb-0;
                        @include font-size(18px);
                        display: inline-flex;
                        align-items: center;

                        svg {
                            @extend %me-10;
                            color: $brand-color-1;
                        }
                    }
                }

                &-search {

                    .form-control {
                        border-radius: .5rem;
                    }

                    .search-icon {
                        background-color: $brand-color-1;
                        padding-inline: 1rem;
                        border-color: transparent;
                        color: $white-color;
                        border-radius: .5rem;
                    }
                }
            }

            &__btn {
                @extend %p-abs;
                @include add-prefix(transition, $transition);
                @include font-size(14px);
                border-radius: 50px;
                padding: .35rem .75rem;
                background-color: rgba($black-color, $alpha: .30);
                color: $white-color;
                border: 1.5px solid transparent;

                transform: translate(-50%, -50%);
                position: absolute;
                content: "";
                top: 13%;
                right: -1%;

                &:hover {
                    background-color: darken($secondary-color-1, $amount: 5);
                    color: $white-color;
                }

                &--add {
                    background-color: rgba($black-color, $alpha: .30);
                    color: $white-color;
                }

                &--save {
                    background-color: rgba($black-color, $alpha: .30);
                    color: $white-color;

                    &:hover,
                    &.saved {
                        background-color: $secondary-color-1;
                        color: $title-color;
                    }
                }

                &--active {
                    background-color: $secondary-color-1;
                    color: $title-color;
                }

            }

            &__focus {
                &-inner {
                    @extend %d-inline-flex,
                    %align-i-center;

                    img {
                        @extend %mx-5;
                    }
                }
            }
        }

    }



    &--style2 {
        .course {
            &__item {
                &-inner {
                    background-color: $white-color;
                    border-radius: 16px;
                }

            }

            &__thumb {
                @extend %p-25, %p-rel;

                &-inner {
                    @extend
                    %of-hidden;
                    object-fit: cover;

                    img {
                        @extend %w-100;
                        border-radius: 8px;
                        @include add-prefix(transition, $transition);
                    }
                }


                &-add {
                    @extend %p-abs;
                    @include box(40px);
                    @include add-prefix(transform, translateY(-50%));
                    border-radius: 50%;
                    background-color: $brand-color-2;
                    border: 1px solid $brand-color-2;
                    color: $white-color;
                    transition: $transition;
                    display: grid;
                    left: 48%;
                    bottom: 2%;
                    place-items: center;
                    z-index: 1;

                    @include breakpoint(lg) {
                        left: auto;
                        bottom: 2%;
                        transform: rotate(0deg);
                        right: 48%;
                    }
                }

                &:hover {
                    .course__thumb-add {
                        background-color: $secondary-color-2;
                        border: $secondary-color-2;
                    }

                    img {
                        border-radius: 30px;
                        @include add-prefix (transform, scale(1.05));
                    }
                }
            }

            &__content {
                @extend %d-flex,
                %align-i-center,
                %justify-between,
                %px-25,
                %pb-30;

                &-details {
                    p {
                        @extend %mb-10;
                        @include font-size(14px);
                        color: $text-color-light;
                    }

                    h6 {
                        @extend %mb-10;
                        font-weight: 600;
                        transition: $transition;

                        &:hover {
                            color: $secondary-color-2;
                            text-decoration: underline;
                        }
                    }
                }

                &-price {
                    h6 {
                        @extend %px-15,
                        %py-5;
                        font-weight: 600;
                        background-color: $brand2-bg-1;
                        border-radius: 8px;
                    }
                }
            }

            &__focus {
                @extend %d-inline-flex,
                %align-i-center;

                img {
                    @extend %mx-5;
                }
            }


        }
    }

    &--style4 {
        padding-block: 250px;

        .course {
            &__item {
                @extend %of-hidden;
                @include add-prefix(transition, $transition);
                background-color: $white-color;
                border-radius: .5rem;

                &:hover {
                    .course__thumb {
                        img {
                            @include add-prefix (transform, scale(1.09));
                        }
                    }

                }

                //style 2
                &--style2 {
                    background-color: rgba($black-color, $alpha: .2);
                }
            }

            &__thumb {
                @extend %mb-15,
                %p-rel,
                %of-hidden;

                img {
                    @extend %w-100;
                    @include add-prefix(transition, $transition);
                }
            }

            &__author {
                a {
                    @extend %d-inline-flex,
                    %align-i-center;
                    gap: 10px;
                }

            }

            &__content {
                padding-inline: 15px;
                padding-block-end: 20px;
                padding-block-start: 15px;

                &-top {
                    @extend %d-flex,
                    %justify-between,
                    %mb-20;

                    h4 {
                        @extend %mb-15,
                        %text-clamp-2;
                        font-weight: 600;

                        &:hover {
                            a {
                                color: $brand-color-1;
                            }
                        }
                    }
                }

                h5 {
                    font-family: $title-font1;
                }

                &-footer {
                    @include font-size(16px);
                    font-weight: 700;
                    color: $brand-color-4;
                    @extend %d-inline-flex,
                    %align-i-center;
                    gap: 6px;
                    cursor: pointer;

                    a {
                        color: inherit;
                    }

                    @include breakpoint(sm) {
                        gap: 30px;
                        @include font-size(20px);
                    }

                    @include breakpoint(md) {
                        gap: 10px;
                        @include font-size(16px);
                    }

                    @include breakpoint(lg) {
                        gap: 5px;
                        @include font-size(16px);
                    }

                    @include breakpoint(xl) {
                        gap: 20px;
                        @include font-size(18px);
                    }

                    @include breakpoint(xxl) {
                        gap: 30px;
                        @include font-size(20px);
                    }

                    span {
                        @extend %d-inline-flex,
                        %align-i-center;

                        @include breakpoint(sm) {
                            gap: 10px;
                        }

                        @include breakpoint(lg) {
                            gap: 3px;
                        }

                        @include breakpoint(xl) {
                            gap: 5px;
                        }

                        @include breakpoint(xxl) {
                            gap: 10px;
                        }
                    }

                }
            }

        }
    }


}